Training Samples/frameworks-project-samples/frameworks-project-samples/SOAP Demo/Top-Down/EmployeeServiceWebApp/EmployeeService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.veritis.com/EmployeeService/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="EmployeeService" targetNamespace="http://www.veritis.com/EmployeeService/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.veritis.com/EmployeeService/">
      <xsd:element name="GetChildren">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="emp" type="tns:Emp"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetChildrenResponse">
        <xsd:complexType>
          <xsd:sequence maxOccurs="unbounded" minOccurs="1">
            <xsd:element name="children" type="tns:Children"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    
      <xsd:complexType name="Emp">
      	<xsd:sequence>
      		<xsd:element name="empno" type="xsd:int"></xsd:element>
      		<xsd:element name="ename" type="xsd:string"></xsd:element>
      	</xsd:sequence>
      </xsd:complexType>
    
      <xsd:complexType name="Children">
      	<xsd:sequence>
      		<xsd:element name="studid" type="xsd:int"></xsd:element>
      		<xsd:element name="stdname" type="xsd:string"></xsd:element>
      		<xsd:element name="age" type="xsd:int"></xsd:element>
      	</xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="GetChildrenRequest">
    <wsdl:part element="tns:GetChildren" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="GetChildrenResponse">
    <wsdl:part element="tns:GetChildrenResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="EmployeeService">
    <wsdl:operation name="GetChildren">
      <wsdl:input message="tns:GetChildrenRequest"/>
      <wsdl:output message="tns:GetChildrenResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EmployeeServiceSOAP" type="tns:EmployeeService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="GetChildren">
      <soap:operation soapAction="http://www.veritis.com/EmployeeService/GetChildren"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EmployeeService">
    <wsdl:port binding="tns:EmployeeServiceSOAP" name="EmployeeServiceSOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
