Training Samples/frameworks-project-samples/frameworks-project-samples/SOAP Demo/Bottom-Up/CurrencyConvertWeb/WebContent/wsdl/CurrencyService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://demo.bottomup.jaxws.veritis.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://demo.bottomup.jaxws.veritis.com" xmlns:intf="http://demo.bottomup.jaxws.veritis.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://demo.bottomup.jaxws.veritis.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="dollars" type="xsd:int"/>
   <element name="converDollarNPRReturn" type="xsd:string"/>
   <element name="dollars1" type="xsd:int"/>
   <element name="converDollarINRReturn" type="xsd:string"/>
  </schema>
 </wsdl:types>

   <wsdl:message name="converDollarINRResponse">

      <wsdl:part element="impl:converDollarINRReturn" name="converDollarINRReturn">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="converDollarINRRequest">

      <wsdl:part element="impl:dollars1" name="dollars">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="converDollarNPRResponse">

      <wsdl:part element="impl:converDollarNPRReturn" name="converDollarNPRReturn">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="converDollarNPRRequest">

      <wsdl:part element="impl:dollars" name="dollars">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="CurrencyService">

      <wsdl:operation name="converDollarNPR" parameterOrder="dollars">

         <wsdl:input message="impl:converDollarNPRRequest" name="converDollarNPRRequest">

       </wsdl:input>

         <wsdl:output message="impl:converDollarNPRResponse" name="converDollarNPRResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="converDollarINR" parameterOrder="dollars">

         <wsdl:input message="impl:converDollarINRRequest" name="converDollarINRRequest">

       </wsdl:input>

         <wsdl:output message="impl:converDollarINRResponse" name="converDollarINRResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="CurrencyServiceSoapBinding" type="impl:CurrencyService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="converDollarNPR">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="converDollarNPRRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="converDollarNPRResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="converDollarINR">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="converDollarINRRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="converDollarINRResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="CurrencyServiceService">

      <wsdl:port binding="impl:CurrencyServiceSoapBinding" name="CurrencyService">

         <wsdlsoap:address location="http://localhost:8080/CurrencyConvertWeb/services/CurrencyService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
